---
import ViewsCounter from './ViewsCounter';
const { date, url, title, readingTime } = Astro.props;
---

<>
  <div class="flex items-center justify-center">
    <!-- Card -->
    <card class="bg-base-100 py-8">
      <!-- Header -->
      <header class="flex font-light text-sm">
        <p class="border-l-2 border-primary px-2 tracking-widest">TECH BLOG</p>
      </header>

      <!-- Title -->
      <h3 class="font-bold text-3xl mt-2">
        {title}
      </h3>

      <!-- Tags -->
      <p class="mt-5">
        By:
        <a href="#" class="text-primary"> Ankush Gulati</a>,
        <a href="#" class="text-primary"> David Gevorkyan</a>
      </p>

      <p>
        Additional credits:
        <a href="#" class="text-primary"> Michael Clark</a>,
        <a href="#" class="text-primary"> Gokhan Ozer</a>
        <time datetime={date}>
          {
            new Date(date).toLocaleDateString('en-us', {
              year: 'numeric',
              month: 'short',
              day: 'numeric',
            })
          }
        </time>
      </p>

      <!-- Description -->
      <h4 class="font-bold text-xl mt-8">Intro</h4>
      <p class="font-light">
        Netflix has more than 220 million active members who perform a variety
        of actions throughout each session, ranging from renaming a profile to
        watchi...
      </p>
      <p>{readingTime}ing time</p>
      <ViewsCounter client:visible slug={url} />

      <!-- Button -->
      <a
        class="btn btn-primary tracking-widest py-2 px-5 text-sm mt-6 inline-flex items-center group"
        href={url}
      >
        <p>READ MORE</p>
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="h-4 w-4 ml-1 group-hover:translate-x-2 delay-100 duration-200 ease-in-out"
          fill="none"
          viewBox="0 0 24 24"
          stroke="currentColor"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M9 5l7 7-7 7"></path>
        </svg>
      </a>
    </card>
  </div>
  <div class="divider"></div>
</>
