---
import BaseHead from '../components/BaseHead.astro';
import Footer from '../components/Footer.astro';
import Header from '../components/Header.astro';

const {
  frontmatter,
  title,
  description,
  preloadImage,
  preloadImageSizes,
  preloadImageSrcSet,
} = Astro.props as BaseLayoutProps;

import '../../styles/global.css';
import type { BaseLayoutProps } from '../lib/types';
---

<html lang="en" class="scroll-smooth" data-theme="dark">
  <head>
    <BaseHead
      frontmatter={frontmatter}
      title={title}
      description={description}
      preloadImage={preloadImage}
      preloadImageSizes={preloadImageSizes}
      preloadImageSrcSet={preloadImageSrcSet}
    />
  </head>
  <body class="min-h-screen h-fit grid content-between">
    <div>
      <Header />
      <main class="max-w-[900px]">
        <slot />
      </main>
    </div>
    <Footer />
  </body>
</html>
